@font-face {
    font-family: 'Graphik Light';
    src: url("../fonts/Graphik-Light.ttf");
}

@font-face {
    font-family: 'Graphik Medium';
    src: url("../fonts/Graphik-Medium.ttf");
}

@font-face {
    font-family: 'Graphik Regular';
    src: url("../fonts/Graphik-Regular.ttf");
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url("../fonts/Graphik-Semibold.ttf");
}

@font-face {
    font-family: 'Graphik Thin';
    src: url("../fonts/Graphik-Thin.ttf");
}

body {
    font-family: 'Graphik Medium', sans-serif;
    position: relative;
    background: url("../img/geometry.png") repeat;
    color: #000;

}

.btn {
    background-color: transparent;
    color: #000;;
    border-radius: 0;
    border: 2px solid #000;
}

/* #social-bar {
    background: #10131D;
    display: block;
    height: 30px;
    position: relative;
    z-index: 500;
    padding: 8px;
}
*/
/* #social-bar i {
    color: white;
    margin-right: 10px;
}  */

/* .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-envelope:hover{
cursor: pointer;
} */

/* .fa-facebook:hover {
    color: #2A5584 !important;
}

.fa-twitter:hover {
    color: #5DD8F8 !important;
}

.fa-instagram:hover {
    color: #3D6E92 !important;
}

.fa-envelope:hover {
    color: #4BC196 !important;
} */

#login,
#signup {
    font-size: 12px;
    color: #00aca8;
    margin-right: 10px;
}

#login:hover,
#signup:hover {
    text-decoration: none;
    color: #CE274D;
}

#login span {
    color: white !important;
}

#login {}

/* nav.navbar.navbar-toggleable-md.navbar-inverse.sticky-top {
    } */

.navbar-inverse {
    //background: url("../img/nav-bg.png") repeat !important;
    background: url("../img/icon-swatch.png") black repeat;

}

.navbar a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff !important;
}

.nav-link.active:hover {
    color: #CE274D;
}

.navbar-brand {}

.nav-link.active {
    color: #00aca8 !important;
}

#login,
.fa-search {
    width: 20px;
    color: #fff;
    margin-right: 15px;
}

#login2{
    width: 30px;
    color: #fff;
}

#lock{
    width: 30px;
    color: #fff;
}

#bpack img {
    height: 55px;
}

#modal-body{
}

#slider {
    background: url("../img/lh-bg.png") repeat;
    border-bottom: 2px dashed black;
    margin-bottom: 50px;
}

.carousel-control-prev-icon {
    background-image: url("../img/prev.png");
    height: 40px;
    width: 40px;
}

.carousel-control-next-icon {
    background-image: url("../img/next.png");
    height: 40px;
    width: 40px;
}

.carousel-indicators li {}

.carousel-item {
    height: 450px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 50px;
    min-height: 450px;
}

#slide1 {}

#hero1-text,
#hero2-text {
    position: relative;
    left: 50%;
    text-transform: uppercase;
    text-align: center;
    z-index: -10;
}

#hero1-text h1,
#hero2-text h1 {
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

#hero1-text .btn,
#hero2-text .btn {
    margin-top: 30px;
}

.row {
    margin-bottom: 50px;
}

.clothes {}

.clothes img {
    //background: url("../img/geometry.png") repeat;
}

.tees {
    width: 260px;
}

.teeTitle {
    color: black;
    text-transform: uppercase;
    font-family: "Graphik Semibold";
}

.footer {
    background: url("../img/icon-swatch.png") black repeat;
    margin: 0;
    padding: 15px 0;
}

.footer h5 {
    color: white;
    text-align: center;
}

#slogan {
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #CE274D;
}

#slogan span {
    font-size: 45px;
    color: white;
    text-decoration: underline;
}

.social {
    font-size: 35px;
    text-align: center;
}

.social i {
    margin-right: 20px;
}

#copyright {
    border-top: 2px dashed white;
    padding: 10px 0;
    background: black;
    font-size: 12px;
    color: white;
}

/* Social Icons */
#social_side_links {
    position: fixed;
    top: 30%;
    right: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {
    display: block;
}

#social_side_links li a img {
    /* display: block; */
    max-width: 50px;
    cursor: pointer;
    /* -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out; */
}
/* 
#social_side_links li a:hover img {
    background: rgba(0, 0, 0, .2);
} */
